/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: var(--third-pink, #f1b2ce);
  --background-color: var(--dark-blue, #000028);
  --background-image: url("../images/cover-image-dark.png");
  --main-title-color: var(--purple, #db00ff);

  --accent-color: var(--main-pink, #ff0070);
  --shadow-color: var(--main-pink, #ff0070);
  --decor-elements: var(--main-pink, #ff0070);
  --title-color: var(--main-pink, #ff0070);
  --title-decor-color: var(--dark-blue, #000028);
  --background-title-decor-color: var(--main-pink, #ff0070);
  --button-color: var(--main-pink, #ff0070);
  --border-button: var(--main-pink-transparent, #ff007040);

  --visible-rec-lamp: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--third-pink, #f1b2ce);
    --background-color: var(--dark-blue, #000028);
    --background-image: url("../images/cover-image-dark.png");
    --main-title-color: var(--purple, #db00ff);

    --accent-color: var(--main-pink, #ff0070);
    --shadow-color: var(--main-pink, #ff0070);
    --decor-elements: var(--main-pink, #ff0070);
    --title-color: var(--main-pink, #ff0070);
    --title-decor-color: var(--dark-blue, #000028);
    --background-title-decor-color: var(--main-pink, #ff0070);
    --button-color: var(--main-pink, #ff0070);
    --border-button: var(--main-pink-transparent, #ff007040);

    --visible-rec-lamp: visible;
  }
}
