.page.theme_dark {
    --background-color: var(--color-black-1, #000028);
    --accent-color: var(--color-pink-5, #ff0070);
    --accent-color-secondary: var(--color-pink-5, #ff0070);
    --select-color: var(--color-pink-5-opacity, #ff007040);

    --main-font-color: var(--color-pink-4, #f1b2ce);
    --page-title-color: var(--color-purple-1, #db00ff);
    --section-title-color: var(--color-pink-5, #ff0070);
    --paragraph-title-color: var(--color-black-1, #000028);

    --page-background-image: url('../images/cover-image-dark.png');

    --rec-visibility: visible;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--color-black-1, #000028);
        --accent-color: var(--color-pink-5, #ff0070);
        --accent-color-secondary: var(--color-pink-5, #ff0070);
        --select-color: var(--color-pink-5-opacity, #ff007040);

        --main-font-color: var(--color-pink-4, #f1b2ce);
        --page-title-color: var(--color-purple-1, #db00ff);
        --section-title-color: var(--color-pink-5, #ff0070);
        --paragraph-title-color: var(--color-black-1, #000028);

        --page-background-image: url('../images/cover-image-dark.png');

        --rec-visibility: visible;
    }
}