.page.theme_light {
    --background-color: var(--color-pink-1, #fff1f8);
    --accent-color: var(--color-pink-2, #ff8dcb);
    --accent-color-secondary: var(--color-pink-5, #ff0070);
    --select-color: var(--color-black-3-opacity, #32312d40);

    --main-font-color: var(--color-black-2, #353430);
    --page-title-color: var(--color-pink-3, #ffc2e6);
    --section-title-color: var(--color-black-2, #353430);
    --paragraph-title-color: var(--color-black-2, #353430);

    --page-background-image: url('../images/cover-image-light.png');

    --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
    --background-color: var(--color-pink-1, #fff1f8);
    --accent-color: var(--color-pink-2, #ff8dcb);
    --accent-color-secondary: var(--color-pink-5, #ff0070);
    --select-color: var(--color-black-3-opacity, #32312d40);

    --main-font-color: var(--color-black-2, #353430);
    --page-title-color: var(--color-pink-3, #ffc2e6);
    --section-title-color: var(--color-black-2, #353430);
    --paragraph-title-color: var(--color-black-2, #353430);

    --page-background-image: url('../images/cover-image-light.png');

    --rec-visibility: hidden;
}