/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color, #353430);
  background-color: var(--background-color, #fff1f7);
  font-size: 18px;
  font-weight: 400;
  font-family: var(--main-font-family, monospace);
  line-height: 23.4px;
  background-image: var(--background-image, url("../images/cover-image.png"));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.text-shadow-header {
  text-shadow: 4px 4px 0 var(--accent-color, #ff8dcb);
}

.text-shadow-footer {
  text-shadow: 2px 2px 0 var(--accent-color, #ff8dcb);
}

.title-decor {
  color: var(--title-decor-color, #353430);
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  background-color: var(--background-title-decor-color, #ff8dcb);
}

.header {
  display: grid;
  padding: clamp(10px, 1000 / 375 * 1vw, 20px);
  grid-template-rows: 1fr max-content 1fr;
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decor-elements, #353430);
  border-block-start: 1px solid var(--decor-elements, #353430);
  inset-inline-end: clamp(10px, 1000 / 375 * 1vw, 20px);
  inset-block-start: clamp(10px, 1000 / 375 * 1vw, 20px);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decor-elements, #353430);
  border-block-end: 1px solid var(--decor-elements, #353430);
  inset-inline-start: clamp(10px, 1000 / 375 * 1vw, 20px);
  inset-block-end: clamp(10px, 1000 / 375 * 1vw, 20px);
}

.rec-lamp {
  position: absolute;
  z-index: -1;
  visibility: var(--visible-rec-lamp, hidden);
  display: flex;
  align-items: center;
  gap: 10px;
  inset-block-start: clamp(10px, 1000 / 375 * 1vw, 20px);
  inset-inline-end: calc(10px + clamp(10px, 1000 / 375 * 1vw, 20px));
}

.rec-lamp::before {
  content: "REC";
  color: var(--decor-elements, #ff0070);
  line-height: 25px;
}

.rec-lamp::after {
  content: "";
  display: inline-block;
  block-size: 9px;
  inline-size: 9px;
  background: var(--decor-elements, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--decor-elements, #ff0070);
}

.header__theme-menu {
  color: var(--button-color, #353430);
  line-height: 18px;
  justify-self: end;
  align-self: center;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 12px;
  background: transparent;
  line-height: inherit;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--border-button, #32312d40);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
  cursor: default;
}

.main__title {
  color: var(--main-title-color, #ffc2e6);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
}

.header__text-container {
  align-self: center;
}

.header__text {
  margin-block-start: 55px;
  margin-block-end: 56px;
  align-self: start;
}

.title {
  color: var(--title-color, #353430);
  background-color: transparent;
}

.advice_title-decor {
  font-weight: 400;
}

.section {
  display: grid;
  gap: 20px;
  padding: 40px clamp(10px, 1000 / 375 * 1vw, 20px) 10px
    clamp(10px, 1000 / 375 * 1vw, 20px);
}

.section:last-of-type {
  gap: 10px;
  padding-bottom: 40px;
}

.section__list {
  display: grid;
  gap: 20px;
}

.section__list-item {
  display: grid;
  gap: 10px;
}

.advice_container {
  display: grid;
  gap: 20px;
}

.why_section_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff8dcb);
}

.advice_section_link {
  text-decoration: none;
  text-shadow: 2px 0 0 var(--accent-color, #ff8dcb);
}

.why_section_link:hover,
.advice_section_link:hover {
  position: relative;
}

.why_section_link:hover::after,
.advice_section_link:hover::after {
  content: "";
  position: absolute;
  left: 1px;
  bottom: 0px;
  width: 99%;
  height: 1px;
  background-color: currentColor;
}

.why_section_link:focus,
.advice_section_link:focus {
  outline: none;
}

.why_section_link:focus-visible,
.advice_section_link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  align-content: center;
  padding: clamp(10px, 1000 / 375 * 1vw, 20px);
  min-block-size: 100vh;
}

.footer__title {
  justify-self: center;
}

@media (width >= 768px) {
  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 172px;
    margin-block-end: 173px;
  }

  .main__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: clamp(6.1875rem, 0.4631rem + 11.9258vw, 8.095625rem);
  }

  .header__text-container {
    justify-self: end;
  }

  .header__text {
    inline-size: clamp(364px, 364 / 768 * 100vw, 491px);
    margin-block-start: 162px;
    margin-block-end: 163px;
  }

  .title {
    inline-size: clamp(236px, 236 / 768 * 100vw, 315px);
  }

  .section {
    padding: 60px 20px 20px 20px;
  }

  .section:last-of-type {
    gap: 20px;
    padding-bottom: 60px;
  }

  .section:nth-child(2n + 1) {
    grid-template-columns: clamp(236px, 236 / 768 * 100vw, 315px) 1fr;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__list-item:nth-child(1),
  .gallery__list-item:nth-child(5) {
    grid-column-start: span 2;
  }

  .gallery__list-item:nth-child(2),
  .gallery__list-item:nth-child(3) {
    grid-row-start: span 2;
  }

  .advice_section_link {
    text-shadow: 2px 2px 0 var(--accent-color, #ff8dcb);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-block-start: 0;
    align-self: start;
    justify-self: center;
    margin-block-start: 0;
    margin-block-end: 273px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin-inline-start: 20px;
  }

  .header__text {
    inline-size: 491px;
    margin-block: 114px;
  }

  .text-shadow-header {
    text-shadow: 4px 4px 0 var(--shadow-color, #ff0070);
  }

  .text-shadow-footer {
    text-shadow: 2px 2px 0 var(--shadow-color, #ff0070);
  }

  .section:nth-child(2) .section__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section:nth-child(2) .section__list .section__list-item {
    display: grid;
    grid-template-rows: min-content 1fr;
  }
}
