/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/ 
/*Больше нет идей как назвать это бесконечное количество розового :( */
:root {
  --first-pink: #fff1f7; 
  --second-pink: #ffc2e6;
  --third-pink: #f1b2ce;
  --fourth-pink: #ff8dcb;
  --main-pink: #ff0070;
  --main-pink-transparent: #ff007040;
  --purple: #db00ff;

  --main-black: #353430;
  --black: #32312d40;
  --dark-blue: #000028;

  --text-color: var(--main-black, #353430);
  --background-color: var(--first-pink, #fff1f7);
  --background-image: url("../images/cover-image-light.png");
  --main-font-family: "IBM Plex mono", monospace;
  --main-title-color: var(--second-pink, #ffc2e6);

  --accent-color: var(--fourth-pink, #ff8dcb);
  --shadow-color: var(--fourth-pink, #ff8dcb);
  --decor-elements: var(--main-black, #353430);
  --title-color: var(--main-black, #353430);
  --title-decor-color: var(--main-black, #353430);
  --background-title-decor-color: var(--fourth-pink, #ff8dcb);
  --button-color: var(--main-black, #353430);
  --border-button: var(--black, #32312d40);

  --visible-rec-lamp: hidden;
}
